@CHARSET "ISO-8859-1";
.main {
	color: maroon;
	margin: 0 auto;
	width: 900px;
}

.main h1, h2, .release {
	text-align: center;
}

h1 {
	background-color: DarkCyan;
}


#nav {
	text-align: right;
	padding-bottom: 10px;
}

#nav a {
	margin-left: 20px;
	font-size: small;
}
a {
	margin-left:30px;
	margin-right:30px;
}

#personal_information {
	border-style: solid;
}

hr{
	background-color: DarkCyan;
	border-style: none;
	height: 3px;
	margin: 2px;
}

.release table{
	width:100%;
}

.release th {
	background-color:#66CC99;
	text-align: center;
}